@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #C75B7A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rowdies", sans-serif;
}

.box{
    width: 390px;
    padding: 40px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgb(40, 39, 39);
}    

.box h2{
    font-size: 30px;
    font-weight: 400px;
    margin-bottom: 30px;
    text-align: center;
}

.box ul li{
    list-style: none;
}

.box ul li{
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0, 3s;
}

.box .button {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    transition: all 0, 3s;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    color:antiquewhite;
    text-decoration: none;
}

button {
    background-color: #C75B7A;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 88px;
}

img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box ul li .info .name {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.box ul li .info .age {
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: "Nanum Gothic", sans-serif;
}

.box ul li .info {
    display: flex;
    flex-direction: column;
}

.info{
    margin-left: 30px;
}